{#<header>#}
{#    {% for i in 2..5 %}#}
{#        <h1>Пиздец!!!!!</h1>#}
{#    {% endfor %}#}
{#</header>#}

{#<nav>#}
{#    <ul>#}
{#        <li><a href="#">Главная</a></li>#}
{#        <li><a href="#">О нас</a></li>#}
{#        <li><a href="#">Контакты</a></li>#}
{#    </ul>#}
{#</nav>#}

{#<main>#}
{#    <h2>О нас</h2>#}
{#    <p>Мы - небольшая компания, занимающаяся разработкой программного обеспечения.</p>#}


    <h2>Наши услуги</h2>
{#    <ul>#}
{#        <li>Разработка веб-сайтов</li>#}
{#        <li>Разработка мобильных приложений</li>#}
{#        <li>Разработка ПО для настольных компьютеров</li>#}
{#    </ul>#}
{#</main>#}

{#<footer>#}
{#    <p>&copy; 2023 Моя компания. Все права защищены.</p>#}
{#</footer>#}
